[Desktop Entry]
Version=1.1
Type=Application
Name=Dolphin
Comment=Dolphin file manager
Icon=dolphin
Exec=dolphin %u
Actions=
Categories=menulibre-favorites;
